<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 前端管理系统-系统说明 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="/admin-temp/css/vendor.css">
    <script src="/js/theme.js"></script>
    <script type="text/javascript">
		var user = {
			username: '<%=userData.name %>',
			userId: <%=userData.id %>,
			photo: '<%=userData.photo %>',
			role: <%=userData.role %>
		};
    </script>
</head>
<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <% include layout/_header %>
        <% include layout/_sidebar %>
        <article class="content responsive-tables-page">
            <section class="section">
               <h2>前端管理系统说明</h2>
               <hr />
               <p>
                   本系统是一个前端任务管理系统，建立系统的目的有两个：
               </p>
               <ul>
                   <li>
                       <span style="color:red">对于前端的项目有一个统筹规划</span>
                   </li>
                   <li>
                       <span style="color:red">对于前端开发人员季度评级有一个客观的参考</span>
                   </li>
               </ul>
               <h3>系统使用</h3>
               <hr />
               <h4>什么是任务？</h4>
               <p>
                   前端做的专题页面、后端模板页面、H5小游戏、新技术的验证学习、技术分享等都可以申请成为一个任务。每个组员需要自己创建任务，任务一共有三种状态：
               </p>
               <ul>
                   <li>
                       进行中：组员新建一个任务即进入进行中
                   </li>
                   <li>
                       待确认：组员在修改任务页面选择”确认完成任务“操作，确认完成即进入待确认
                   </li>
                   <li>
                       已完成：管理员验收确认，进入已完成
                   </li>
               </ul>
               <p>
                   任务的属性包括：
               </p>
               <ul>
                   <li>
                       任务名称：这是对本次任务的简要说明，可以是”砍价H5游戏”、“接客Man游戏改版”、”ThreeJS技术分享”、“云燕系统-图集页面”等。
                   </li>
                   <li>
                       负责人：默认只能选择自己
                   </li>
                   <li>
                       开始日期：一般默认选择当天
                   </li>
                   <li>
                       预计完成日期：<span style="color:red">这里选择开发完成，并且已经自测完成的预估日期。</span>这里不是上线日期。
                   </li>
                   <li>
                       任务类型：
                       <ul>
                           <li>
                               静态页：是普通的专题页面，或者后端使用的静态页面，可能存在少量表单或接口
                           </li>
                           <li>
                               动态专题：存在较多交互或者动画，或有较多JS逻辑和接口的页面
                           </li>
                           <li>
                               后端页：需要后端套模板的页面
                           </li>
                           <li>
                               公共组件：轮播图、日期选择等封装好了可以重复利用的组件
                           </li>
                           <li>
                               游戏：游戏一般是指H5游戏，像一起跑、撑杆跳等涉及众多接口和交互的属于游戏类。但是功能简单单一的可以归为“静态页”或“动态专题”。
                           </li>
                           <li>
                               技术验证：是指从没有使用过的技术，需要验证其可行性是否能够满足业务需求。包括：学习成本是否复杂，文档是否齐全，有无重大兼容性等
                           </li>
                           <li>
                               专业研发：是指通过技术研究开发出有很高复用性的组件或库，并极大的提高了前端组的开发效率。
                           </li>
                       </ul>
                   </li>
                   <li>
                       链接：所做任务的在线预览地址，可以是专题页测试地址，后端测试地址、GO系统qa地址等。
                   </li>
               </ul>
               <h4>新建任务</h4>
               <p>
                   点击菜单栏的”新建任务”按钮，可以新建任务。新建任务后，管理员会收到POPO通知。如果任务比较复杂，时间不好预测，可以划分成多个小任务，完成一个再创建新的任务。
               </p>
               <h4>修改任务</h4>
               <p>
                   在任务列表页面，点击“我的任务”，可以修改自己的任务。修改任务分为两种情况，1.修改任务，2.确认完成任务。如下图：
               </p>
               <img src="http://nos.netease.com/house-public/c5f85cd68dcfa0e1b9add2e674f44175.png" />
               <p></p>
               <ul>
                   <li>
                       1.修改任务：”操作“选项选择”修改任务“。是指任务未完成需要修改名称，完成日期、链接等字段，修改原因为必填项，可以填写”任务有新需求需要延期“，“填写了新的链接地址”等。
                   </li>
                   <li>
                       2.确认完成任务：”操作“选项选择“确认完成任务”，下面的文本域会变成”任务总结“，填写总结如：”任务已经上线“，”任务已经提交给后端“，”任务已经完成，提交给产品“等。
                   </li>
               </ul>
               <h4>任务反馈</h4>
               <p>
                   在修改任务的页面会有与该任务对应的反馈列表，<span style="color:red">为了确保任务的统筹规划，组员有了新的进展一定要随时反馈任务进度。如果有进行中的任务超过48小时没有反馈，将会收到系统POPO提醒。</span>
                   如：”静态页面已经完成，正在调试接口“，”后端接口总是给不到，我这里可能要延期了“等。
               </p>
               <img src="http://nos.netease.com/house-public/cb18d775434496b074374c5af527768b.png" />
               <p>
                   
               </p>
               <h3>季度评级指标</h3>
               <hr />
               <p>
                   <span style="color:red">我们每个季度的评级对于大家的季度奖、年终奖、升职和调薪都是有很大关系的。</span>那我们能够通过个人努力提高自己的季度评级吗？
                   当然可以，前端季度评级将会由绩效、自主统筹任务能力和考勤三部分组成。
               </p>
               <ul>
                   <li>
                       绩效，占比60%
                   </li>
                   <li>
                       自主统筹任务能力，占比30%
                   </li>
                   <li>
                       考勤，占比10%
                   </li>
               </ul>
               <h4>绩效</h4>
               <ul>
                   <li>
                       <p>   
                       第一种：基本的绩效获得方式是完成任务的数量。但是每个任务的权重是不一样的，一个普通专题页和一个H5游戏页它们最终会由管理员评估计算出不同的评分。
                       基本思路是任务越复杂持续时间越长获得评分越高，但是这个时间不是由任务的实际开发时间确定的，而是由管理员评估得出，因此，如果一个简单的任务拖的时间太长同样会导致评分降低。
                       <span style="color:red">对于同一个任务，不同的人去做可能会得到不同的评分，快速及时、高质量的完成是获得高评分的有力保障。</span>
                       </p>
                   </li>
                   <li>
                       <p>
                        第二种：高级冒险型绩效获取方法。如果只按照第一种方式去做，可能导致大家都追求尽可能多的完成任务，却失去了做出优秀作品的机会。我们都是技术人员，我相信大家对技术的展现都有着很高的追求。
                       因此在这里创造了积极的环境，让每个人能够发挥自己的个人能力，去做出更先进技术、更好的交互动画和更受欢迎的作品。由此导致花费更长的时间，都会算作你的有效时长。
                       由此，<span style="color:red">选择高级冒险型开发策略将使你在本次任务中获得超高的评分。</span>之所以称为”冒险型“，是因为可能花费了很多的时间，但是事与愿违，并没有获得较好的效果，
                       由于时间的延长，将会得到一个比正常情况还低的评分。<br />
                       符合此类特征的情况如下，但不仅限于此：
                       </p>
                       <ul>
                           <li>
                               所完成的专题或游戏受到广泛传播，并获得很多的积极评价反馈。
                           </li>
                           <li>
                               在新的后端项目，充分考虑了项目特点，对项目做出整体规划和基础目录，公共文件的搭建，使得后期项目开发更方便快捷。
                           </li>
                           <li>
                               采用项目组之前从没有使用过的新技术，并取得较大的技术优势。
                           </li>
                           <li>
                               研发出新的框架（或对现有开源框架的修改再封装），或者开发流程模式，大大提高了前端开发效率。
                           </li>
                       </ul>
                   </li>
               </ul>
               <h4>自主统筹任务能力</h4>
               <p>
                   本方面能力是一个综合能力体现环节，主要体现在以下几个方面：
               </p>
               <ul>
                   <li>
                       在任务开始前，积极主动的跟产品或编辑进行沟通尽早确认需求。能够预料到产品想不到但可能存在的问题，及早确认。
                   </li>
                   <li>
                       在任务开始前，与后端确认好页面的对接形式。尽可能早的确认接口规范，能够在交付页面之前，就通过JSON模拟完成接口调试。能够预想后端的可能使用方法，
                       将页面各个数据对接地方规划好，最终和后端平稳交接。
                   </li>
                   <li>
                       在开发过程中，积极进行任务反馈。
                   </li>
                   <li>
                       在开发过程中，能够准确把握开发、测试和上线日期，有条不紊的按计划完成任务。对于潜在的问题或者突发的情况能够迅速做出相应，保障项目顺利进行。
                   </li>
                   <li>
                       在任务完成后，专题、游戏能够顺利上线，后端模板可以由后端顺利嵌套完成。
                   </li>
                   <li>
                       我们不推崇加班，但是遇到紧急的项目时，能够主动加班完成也是责任心的体现。
                   </li>
               </ul>
               <p>
                   一些自主统筹能力较差的表现：
               </p>
               <ul style="text-decoration:line-through">
                   <li>
                       任务完成后，需求方反应说这不是他们想要的，需要继续修改，影响上线时间。
                   </li>
                   <li>
                       在把模板交付给后端时，后端说这不是他们想要的。或者交付给后端之后，有很多功能都没实现，一会儿让后端加个类名，一会儿加个ID。甚至大改结构。
                   </li>
                   <li>
                       <span style="color:red">自己已经按时完成了任务，很长时间测试一直没有什么反馈和动静，但是一旦到了上线日期，就出现了各种问题，加班加点着急去改东西。</span>
                   </li>
               </ul>
               <h4>考勤</h4>
               <p>
                   工作时间：9:30 - 18:30 。
               </p>
               <h4>总结</h4>
               <p>
                   通过积极的完成常规任务，个人可以获得较高的绩效评分。同样，我们也是一个崇尚技术为王的团队，通过技术的发挥产生更高质量的作品，将获得更高的评价。
                   对于一位优秀的技术人员来说，其价值不仅体现在技术本身，还体现在沟通、规划、突然问题应变能力和责任心之上。
               </p>
            </section>
        </article>
        <% include layout/_footer %>
    </div>
</div>
<script src="/admin-temp/js/vendor.js"></script>
<script src="/js/app.js"></script>

</body>
</html> 
