<header class="header">
	<div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
<i class="fa fa-bars"></i>
</button> </div>
	<div class="header-block header-block-search hidden-sm-down">
		<form role="search" onsubmit="return false;">
			<div class="input-container">
				<i class="fa fa-search"></i>
				<input type="search" id="search" placeholder="Search">
				<div class="underline"></div>
			</div>
		</form>
	</div>
	<div class="header-block header-block-nav">
		<ul class="nav-profile">
			<li class="profile dropdown">
				<!--<a class="nav-link" href="#">
					<img class="img" src="<%=userData.photo %>" />
					<span class="name"><%=userData.name %></span>
				</a>-->
			</li>
		</ul>
	</div>
</header>